video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* put the content on top of the video
  and center it */

.forward-content {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding: 0 0 50px 70px;
}

#large-title {
    color: #f1f1f1;
    font-size: 70px;
    font-family: 'Special Elite', cursive;
    display: inline-block;
}

hr.custom {
    overflow: visible;
    /* For IE */
    margin-top: 0.25em !important;
    height: 30px;
    width: 100%;
    clear: both;
    padding: 0;
    border: none;
    border-top: medium double #f1f1f1;
    color: #f1f1f1;
    text-align: center;
}

hr.custom:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -1.3em;
    clear: both;
    font-size: 0.5em;
    padding: 0 0.25em;
    height: 30px;
    background: transparent;
    width: 100%;
}